In [1]:
#! pip install -U prettytable

Look at this site <br>
https://www.districtdatalabs.com/exploring-bureau-of-labor-statistics-time-series

In [2]:
import pandas as pd
from prettytable import prettytable
import requests
import json

In [3]:
#api_key = pd.read_csv('data/bls_api.txt')

In [4]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ["CUUR0000SA0", "CES3000000006", "JTU300000000000000JOL", 
                                "JTU300000000000000HIL", "JTU300000000000000TSL"],
                   "startyear":"2002",
                   "endyear":"2021", 
                   #"calculations":"true",
                   "registrationkey":"92eed6734bf5495f88972d9ba4106350"
                  })
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
# for series in json_data['Results']['series']:
#     MSeparations=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
#     #MSeparations=pd.DataFrame(["series id","year","period","value","footnotes"])
#     seriesId = series['seriesID']
#     for item in series['data']:
#         year = item['year']
#         period = item['period']
#         value = item['value']
#         footnotes=""
#         for footnote in item['footnotes']:
#             if footnote:
#                 footnotes = footnotes + footnote['text'] + ','
#         if 'M01' <= period <= 'M12':
#             MSeparations.add_row([seriesId,year,period,value,footnotes[0:-1]])
#             #MSeparations.append([seriesId,year,period,value,footnotes[0:- 1]])
#     output = open(seriesId + '.txt','w')
#     output.write (MSeparations.get_string())
#     #output.write (str(MSeparations))
#     output.close()

In [5]:
json_data

{'status': 'REQUEST_SUCCEEDED',
 'responseTime': 607,
 'message': [],
 'Results': {'series': [{'seriesID': 'CUUR0000SA0',
    'data': [{'year': '2021',
      'period': 'M04',
      'periodName': 'April',
      'latest': 'true',
      'value': '267.054',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M03',
      'periodName': 'March',
      'value': '264.877',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M02',
      'periodName': 'February',
      'value': '263.014',
      'footnotes': [{}]},
     {'year': '2021',
      'period': 'M01',
      'periodName': 'January',
      'value': '261.582',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M12',
      'periodName': 'December',
      'value': '260.474',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M11',
      'periodName': 'November',
      'value': '260.229',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M10',
      'periodName': 'October',
      'value': '260.388',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M09',
      'periodName': 'September',
      'value': '260.280',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M08',
      'periodName': 'August',
      'value': '259.918',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M07',
      'periodName': 'July',
      'value': '259.101',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M06',
      'periodName': 'June',
      'value': '257.797',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M05',
      'periodName': 'May',
      'value': '256.394',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M04',
      'periodName': 'April',
      'value': '256.389',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M03',
      'periodName': 'March',
      'value': '258.115',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M02',
      'periodName': 'February',
      'value': '258.678',
      'footnotes': [{}]},
     {'year': '2020',
      'period': 'M01',
      'periodName': 'January',
      'value': '257.971',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M12',
      'periodName': 'December',
      'value': '256.974',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M11',
      'periodName': 'November',
      'value': '257.208',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M10',
      'periodName': 'October',
      'value': '257.346',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M09',
      'periodName': 'September',
      'value': '256.759',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M08',
      'periodName': 'August',
      'value': '256.558',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M07',
      'periodName': 'July',
      'value': '256.571',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M06',
      'periodName': 'June',
      'value': '256.143',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M05',
      'periodName': 'May',
      'value': '256.092',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M04',
      'periodName': 'April',
      'value': '255.548',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M03',
      'periodName': 'March',
      'value': '254.202',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M02',
      'periodName': 'February',
      'value': '252.776',
      'footnotes': [{}]},
     {'year': '2019',
      'period': 'M01',
      'periodName': 'January',
      'value': '251.712',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M12',
      'periodName': 'December',
      'value': '251.233',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M11',
      'periodName': 'November',
      'value': '252.038',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M10',
      'periodName': 'October',
      'value': '252.885',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M09',
      'periodName': 'September',
      'value': '252.439',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M08',
      'periodName': 'August',
      'value': '252.146',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M07',
      'periodName': 'July',
      'value': '252.006',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M06',
      'periodName': 'June',
      'value': '251.989',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M05',
      'periodName': 'May',
      'value': '251.588',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M04',
      'periodName': 'April',
      'value': '250.546',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M03',
      'periodName': 'March',
      'value': '249.554',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M02',
      'periodName': 'February',
      'value': '248.991',
      'footnotes': [{}]},
     {'year': '2018',
      'period': 'M01',
      'periodName': 'January',
      'value': '247.867',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M12',
      'periodName': 'December',
      'value': '246.524',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M11',
      'periodName': 'November',
      'value': '246.669',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M10',
      'periodName': 'October',
      'value': '246.663',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M09',
      'periodName': 'September',
      'value': '246.819',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M08',
      'periodName': 'August',
      'value': '245.519',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M07',
      'periodName': 'July',
      'value': '244.786',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M06',
      'periodName': 'June',
      'value': '244.955',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M05',
      'periodName': 'May',
      'value': '244.733',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M04',
      'periodName': 'April',
      'value': '244.524',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M03',
      'periodName': 'March',
      'value': '243.801',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M02',
      'periodName': 'February',
      'value': '243.603',
      'footnotes': [{}]},
     {'year': '2017',
      'period': 'M01',
      'periodName': 'January',
      'value': '242.839',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M12',
      'periodName': 'December',
      'value': '241.432',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M11',
      'periodName': 'November',
      'value': '241.353',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M10',
      'periodName': 'October',
      'value': '241.729',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M09',
      'periodName': 'September',
      'value': '241.428',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M08',
      'periodName': 'August',
      'value': '240.849',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M07',
      'periodName': 'July',
      'value': '240.628',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M06',
      'periodName': 'June',
      'value': '241.018',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M05',
      'periodName': 'May',
      'value': '240.229',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M04',
      'periodName': 'April',
      'value': '239.261',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M03',
      'periodName': 'March',
      'value': '238.132',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M02',
      'periodName': 'February',
      'value': '237.111',
      'footnotes': [{}]},
     {'year': '2016',
      'period': 'M01',
      'periodName': 'January',
      'value': '236.916',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M12',
      'periodName': 'December',
      'value': '236.525',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M11',
      'periodName': 'November',
      'value': '237.336',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M10',
      'periodName': 'October',
      'value': '237.838',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M09',
      'periodName': 'September',
      'value': '237.945',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M08',
      'periodName': 'August',
      'value': '238.316',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M07',
      'periodName': 'July',
      'value': '238.654',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M06',
      'periodName': 'June',
      'value': '238.638',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M05',
      'periodName': 'May',
      'value': '237.805',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M04',
      'periodName': 'April',
      'value': '236.599',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M03',
      'periodName': 'March',
      'value': '236.119',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M02',
      'periodName': 'February',
      'value': '234.722',
      'footnotes': [{}]},
     {'year': '2015',
      'period': 'M01',
      'periodName': 'January',
      'value': '233.707',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M12',
      'periodName': 'December',
      'value': '234.812',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M11',
      'periodName': 'November',
      'value': '236.151',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M10',
      'periodName': 'October',
      'value': '237.433',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M09',
      'periodName': 'September',
      'value': '238.031',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M08',
      'periodName': 'August',
      'value': '237.852',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M07',
      'periodName': 'July',
      'value': '238.250',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M06',
      'periodName': 'June',
      'value': '238.343',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M05',
      'periodName': 'May',
      'value': '237.900',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M04',
      'periodName': 'April',
      'value': '237.072',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M03',
      'periodName': 'March',
      'value': '236.293',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M02',
      'periodName': 'February',
      'value': '234.781',
      'footnotes': [{}]},
     {'year': '2014',
      'period': 'M01',
      'periodName': 'January',
      'value': '233.916',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M12',
      'periodName': 'December',
      'value': '233.049',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M11',
      'periodName': 'November',
      'value': '233.069',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M10',
      'periodName': 'October',
      'value': '233.546',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M09',
      'periodName': 'September',
      'value': '234.149',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M08',
      'periodName': 'August',
      'value': '233.877',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M07',
      'periodName': 'July',
      'value': '233.596',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M06',
      'periodName': 'June',
      'value': '233.504',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M05',
      'periodName': 'May',
      'value': '232.945',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M04',
      'periodName': 'April',
      'value': '232.531',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M03',
      'periodName': 'March',
      'value': '232.773',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M02',
      'periodName': 'February',
      'value': '232.166',
      'footnotes': [{}]},
     {'year': '2013',
      'period': 'M01',
      'periodName': 'January',
      'value': '230.280',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M12',
      'periodName': 'December',
      'value': '229.601',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M11',
      'periodName': 'November',
      'value': '230.221',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M10',
      'periodName': 'October',
      'value': '231.317',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M09',
      'periodName': 'September',
      'value': '231.407',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M08',
      'periodName': 'August',
      'value': '230.379',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M07',
      'periodName': 'July',
      'value': '229.104',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M06',
      'periodName': 'June',
      'value': '229.478',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M05',
      'periodName': 'May',
      'value': '229.815',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M04',
      'periodName': 'April',
      'value': '230.085',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M03',
      'periodName': 'March',
      'value': '229.392',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M02',
      'periodName': 'February',
      'value': '227.663',
      'footnotes': [{}]},
     {'year': '2012',
      'period': 'M01',
      'periodName': 'January',
      'value': '226.665',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M12',
      'periodName': 'December',
      'value': '225.672',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M11',
      'periodName': 'November',
      'value': '226.230',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M10',
      'periodName': 'October',
      'value': '226.421',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M09',
      'periodName': 'September',
      'value': '226.889',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M08',
      'periodName': 'August',
      'value': '226.545',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M07',
      'periodName': 'July',
      'value': '225.922',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M06',
      'periodName': 'June',
      'value': '225.722',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M05',
      'periodName': 'May',
      'value': '225.964',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M04',
      'periodName': 'April',
      'value': '224.906',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M03',
      'periodName': 'March',
      'value': '223.467',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M02',
      'periodName': 'February',
      'value': '221.309',
      'footnotes': [{}]},
     {'year': '2011',
      'period': 'M01',
      'periodName': 'January',
      'value': '220.223',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M12',
      'periodName': 'December',
      'value': '219.179',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M11',
      'periodName': 'November',
      'value': '218.803',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M10',
      'periodName': 'October',
      'value': '218.711',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M09',
      'periodName': 'September',
      'value': '218.439',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M08',
      'periodName': 'August',
      'value': '218.312',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M07',
      'periodName': 'July',
      'value': '218.011',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M06',
      'periodName': 'June',
      'value': '217.965',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M05',
      'periodName': 'May',
      'value': '218.178',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M04',
      'periodName': 'April',
      'value': '218.009',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M03',
      'periodName': 'March',
      'value': '217.631',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M02',
      'periodName': 'February',
      'value': '216.741',
      'footnotes': [{}]},
     {'year': '2010',
      'period': 'M01',
      'periodName': 'January',
      'value': '216.687',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M12',
      'periodName': 'December',
      'value': '215.949',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M11',
      'periodName': 'November',
      'value': '216.330',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M10',
      'periodName': 'October',
      'value': '216.177',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M09',
      'periodName': 'September',
      'value': '215.969',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M08',
      'periodName': 'August',
      'value': '215.834',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M07',
      'periodName': 'July',
      'value': '215.351',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M06',
      'periodName': 'June',
      'value': '215.693',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M05',
      'periodName': 'May',
      'value': '213.856',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M04',
      'periodName': 'April',
      'value': '213.240',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M03',
      'periodName': 'March',
      'value': '212.709',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M02',
      'periodName': 'February',
      'value': '212.193',
      'footnotes': [{}]},
     {'year': '2009',
      'period': 'M01',
      'periodName': 'January',
      'value': '211.143',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M12',
      'periodName': 'December',
      'value': '210.228',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M11',
      'periodName': 'November',
      'value': '212.425',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M10',
      'periodName': 'October',
      'value': '216.573',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M09',
      'periodName': 'September',
      'value': '218.783',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M08',
      'periodName': 'August',
      'value': '219.086',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M07',
      'periodName': 'July',
      'value': '219.964',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M06',
      'periodName': 'June',
      'value': '218.815',
      'footnotes': [{}]},
     {'year': '2008',
      'period': 'M05',
      'periodName': 'May',
      'value': '216.632',
      'footnotes': [{}]},

In [6]:
json_data['Results']['series'][1]['seriesID']

'CES3000000006'

In [7]:
BLS_dfs = []  #set up container to hold df to be built
for i in range(5):  #count 0-5
    BLS_data = pd.DataFrame(json_data['Results']['series'][i]['data']) #builds df out of the i result set
    BLS_data['Report_Name'] = json_data['Results']['series'][i]['seriesID'] #creates new column to identify the SeriesID
    BLS_dfs.append(BLS_data) #store the resulting df in df container     
    
#pd.read_json(json_data['Results']['series']['data'])

In [8]:
BLS_dfs   #list that contains the 5 dataframes created above

[     year period periodName latest    value footnotes  Report_Name
 0    2021    M04      April   true  267.054      [{}]  CUUR0000SA0
 1    2021    M03      March    NaN  264.877      [{}]  CUUR0000SA0
 2    2021    M02   February    NaN  263.014      [{}]  CUUR0000SA0
 3    2021    M01    January    NaN  261.582      [{}]  CUUR0000SA0
 4    2020    M12   December    NaN  260.474      [{}]  CUUR0000SA0
 ..    ...    ...        ...    ...      ...       ...          ...
 227  2002    M05        May    NaN    179.8      [{}]  CUUR0000SA0
 228  2002    M04      April    NaN    179.8      [{}]  CUUR0000SA0
 229  2002    M03      March    NaN    178.8      [{}]  CUUR0000SA0
 230  2002    M02   February    NaN    177.8      [{}]  CUUR0000SA0
 231  2002    M01    January    NaN    177.1      [{}]  CUUR0000SA0

 [232 rows x 7 columns],
      year period periodName latest  value  \
 0    2021    M04      April   true   8467
 1    2021    M03      March    NaN   8514
 2    2021    M02   February    NaN   8484
 3    2021    M01    January    NaN   8458
 4    2020    M12   December    NaN   8471
 ..    ...    ...        ...    ...    ...
 227  2002    M05        May    NaN  10824
 228  2002    M04      April    NaN  10859
 229  2002    M03      March    NaN  10901
 230  2002    M02   February    NaN  10951
 231  2002    M01    January    NaN  10993

                                   footnotes    Report_Name
 0    [{'code': 'P', 'text': 'preliminary'}]  CES3000000006
 1    [{'code': 'P', 'text': 'preliminary'}]  CES3000000006
 2                                      [{}]  CES3000000006
 3                                      [{}]  CES3000000006
 4                                      [{}]  CES3000000006
 ..                                      ...            ...
 227                                    [{}]  CES3000000006
 228                                    [{}]  CES3000000006
 229                                    [{}]  CES3000000006
 230                                    [{}]  CES3000000006
 231                                    [{}]  CES3000000006

 [232 rows x 7 columns],
      year period periodName latest value  \
 0    2021    M03      March   true   708
 1    2021    M02   February    NaN   561
 2    2021    M01    January    NaN   532
 3    2020    M12   December    NaN   444
 4    2020    M11   November    NaN   490
 ..    ...    ...        ...    ...   ...
 226  2002    M05        May    NaN   251
 227  2002    M04      April    NaN   261
 228  2002    M03      March    NaN   215
 229  2002    M02   February    NaN   246
 230  2002    M01    January    NaN   301

                                   footnotes            Report_Name
 0    [{'code': 'P', 'text': 'preliminary'}]  JTU300000000000000JOL
 1                                      [{}]  JTU300000000000000JOL
 2                                      [{}]  JTU300000000000000JOL
 3                                      [{}]  JTU300000000000000JOL
 4                                      [{}]  JTU300000000000000JOL
 ..                                      ...                    ...
 226                                    [{}]  JTU300000000000000JOL
 227                                    [{}]  JTU300000000000000JOL
 228                                    [{}]  JTU300000000000000JOL
 229                                    [{}]  JTU300000000000000JOL
 230                                    [{}]  JTU300000000000000JOL

 [231 rows x 7 columns],
      year period periodName latest value  \
 0    2021    M03      March   true   410
 1    2021    M02   February    NaN   357
 2    2021    M01    January    NaN   360
 3    2020    M12   December    NaN   298
 4    2020    M11   November    NaN   357
 ..    ...    ...        ...    ...   ...
 226  2002    M05        May    NaN   466
 227  2002    M04      April    NaN   460
 228  2002    M03      March    NaN   366
 229  2002    M02   February    NaN   378
 230  2002    M01    January    NaN   398

                                   footnotes            Report_Name
 0    [{'code': 'P', 'text': 'preliminary'}]  JTU300000000000000HIL
 1                                      [{}]  JTU300000000000000HIL
 2                                      [{}]  JTU300000000000000HIL
 3                                      [{}]  JTU300000000000000HIL
 4                                      [{}]  JTU300000000000000HIL
 ..                                      ...                    ...
 226                                    [{}]  JTU300000000000000HIL
 227                                    [{}]  JTU300000000000000HIL
 228                                    [{}]  JTU300000000000000HIL
 229                                    [{}]  JTU300000000000000HIL
 230                                    [{}]  JTU300000000000000HIL

 [231 rows x 7 columns],
      year period periodName latest value  \
 0    2021    M03      March   true   382
 1    2021    M02   February    NaN   328
 2    2021    M01    January    NaN   363
 3    2020    M12   December    NaN   344
 4    2020    M11   November    NaN   328
 ..    ...    ...        ...    ...   ...
 226  2002    M05        May    NaN   433
 227  2002    M04      April    NaN   491
 228  2002    M03      March    NaN   397
 229  2002    M02   February    NaN   415
 230  2002    M01    January    NaN   574

                                   footnotes            Report_Name
 0    [{'code': 'P', 'text': 'preliminary'}]  JTU300000000000000TSL
 1                                      [{}]  JTU300000000000000TSL
 2                                      [{}]  JTU300000000000000TSL
 3                                      [{}]  JTU300000000000000TSL
 4                                      [{}]  JTU300000000000000TSL
 ..                                      ...                    ...
 226                                    [{}]  JTU300000000000000TSL
 227                                    [{}]  JTU300000000000000TSL
 228                                    [{}]  JTU300000000000000TSL
 229                                    [{}]  JTU300000000000000TSL
 230                                    [{}]  JTU300000000000000TSL

 [231 rows x 7 columns]]

In [9]:
BLS_final = pd.concat(BLS_dfs, ignore_index=True)

In [10]:
BLS_final

      year period periodName latest    value footnotes            Report_Name
0     2021    M04      April   true  267.054      [{}]            CUUR0000SA0
1     2021    M03      March    NaN  264.877      [{}]            CUUR0000SA0
2     2021    M02   February    NaN  263.014      [{}]            CUUR0000SA0
3     2021    M01    January    NaN  261.582      [{}]            CUUR0000SA0
4     2020    M12   December    NaN  260.474      [{}]            CUUR0000SA0
...    ...    ...        ...    ...      ...       ...                    ...
1152  2002    M05        May    NaN      433      [{}]  JTU300000000000000TSL
1153  2002    M04      April    NaN      491      [{}]  JTU300000000000000TSL
1154  2002    M03      March    NaN      397      [{}]  JTU300000000000000TSL
1155  2002    M02   February    NaN      415      [{}]  JTU300000000000000TSL
1156  2002    M01    January    NaN      574      [{}]  JTU300000000000000TSL

[1157 rows x 7 columns]

In [11]:
BLS_final = BLS_final.drop(columns = ['period', 'latest']).rename(columns = {'periodName':'month', 'Report_Name':'report'})

In [12]:
BLS_final

      year     month    value footnotes                 report
0     2021     April  267.054      [{}]            CUUR0000SA0
1     2021     March  264.877      [{}]            CUUR0000SA0
2     2021  February  263.014      [{}]            CUUR0000SA0
3     2021   January  261.582      [{}]            CUUR0000SA0
4     2020  December  260.474      [{}]            CUUR0000SA0
...    ...       ...      ...       ...                    ...
1152  2002       May      433      [{}]  JTU300000000000000TSL
1153  2002     April      491      [{}]  JTU300000000000000TSL
1154  2002     March      397      [{}]  JTU300000000000000TSL
1155  2002  February      415      [{}]  JTU300000000000000TSL
1156  2002   January      574      [{}]  JTU300000000000000TSL

[1157 rows x 5 columns]

In [13]:
BLS_final.report.unique()

array(['CUUR0000SA0', 'CES3000000006', 'JTU300000000000000JOL',
       'JTU300000000000000HIL', 'JTU300000000000000TSL'], dtype=object)

In [14]:
BLS_final['report'] = BLS_final['report'].replace('JTU300000000000000HIL', 'Manufacturing Hires').replace('CUUR0000SA0', 'CPI') \
.replace('CES3000000006','Manufacturing Employed').replace('JTU300000000000000JOL', 'Manufacturing Job Openings') \
.replace('JTU300000000000000TSL','Manufacturing_Separations')

BLS_final

#['JTU300000000000000TSL','Manufacturing_Separations']

      year     month    value footnotes                     report
0     2021     April  267.054      [{}]                        CPI
1     2021     March  264.877      [{}]                        CPI
2     2021  February  263.014      [{}]                        CPI
3     2021   January  261.582      [{}]                        CPI
4     2020  December  260.474      [{}]                        CPI
...    ...       ...      ...       ...                        ...
1152  2002       May      433      [{}]  Manufacturing_Separations
1153  2002     April      491      [{}]  Manufacturing_Separations
1154  2002     March      397      [{}]  Manufacturing_Separations
1155  2002  February      415      [{}]  Manufacturing_Separations
1156  2002   January      574      [{}]  Manufacturing_Separations

[1157 rows x 5 columns]

In [15]:
BLS_final['report'].unique()

array(['CPI', 'Manufacturing Employed', 'Manufacturing Job Openings',
       'Manufacturing Hires', 'Manufacturing_Separations'], dtype=object)

In [26]:
BLS_data = BLS_final.to_csv('data/BLS_data.csv')

## Ignore all this... original prettytable series

In [16]:
# print(MSeparations)
# # JTU300000000000000TSL = Manufacturing Separations

In [17]:
# type(MSeparations)

In [18]:
#x['series id'] = x['series id'].replace('JTU300000000000000TSL','Manufacturing_Separations')

Note that the output only produces the last series ID in the code.  Will need to run a separate job for each desired Series ID

In [19]:
# # JTU300000000000000HIL = Manufacturing Hires 
# headers = {'Content-type': 'application/json'}
# data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006', 'JTU300000000000000JOL', 
#                                 'JTU300000000000000HIL'],
#                                 "startyear":"2002",
#                                 "endyear":"2021", 
#                                 "registrationkey":"92eed6734bf5495f88972d9ba4106350"
#                                 #"calculations":"true"   #this does not appear to work
#                   })
# p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
# json_data = json.loads(p.text)
# for series in json_data['Results']['series']:
#     MHires=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
#     seriesId = series['seriesID']
#     for item in series['data']:
#         year = item['year']
#         period = item['period']
#         value = item['value']
#         footnotes=""
#         for footnote in item['footnotes']:
#             if footnote:
#                 footnotes = footnotes + footnote['text'] + ','
#         if 'M01' <= period <= 'M12':
#             MHires.add_row([seriesId,year,period,value,footnotes[0:-1]])
#     output = open(seriesId + '.txt','w')
#     output.write (MHires.get_string())
#     output.close()

In [20]:
#print(MHires)

In [21]:
# #JTU300000000000000JOL = Manufacturing all areas Job Openings
# headers = {'Content-type': 'application/json'}
# data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006', 'JTU300000000000000JOL' 
#                                 ],
#                                 "startyear":"2002",
#                                 "endyear":"2021", 
#                                 "registrationkey":"92eed6734bf5495f88972d9ba4106350"
#                                 #"calculations":"true"
#                   })
# p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
# json_data = json.loads(p.text)
# for series in json_data['Results']['series']:
#     MJobs=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
#     seriesId = series['seriesID']
#     for item in series['data']:
#         year = item['year']
#         period = item['period']
#         value = item['value']
#         footnotes=""
#         for footnote in item['footnotes']:
#             if footnote:
#                 footnotes = footnotes + footnote['text'] + ','
#         if 'M01' <= period <= 'M12':
#             MJobs.add_row([seriesId,year,period,value,footnotes[0:-1]])
#     output = open(seriesId + '.txt','w')
#     output.write (MJobs.get_string())
#     output.close()

In [22]:
# print(MJobs)

In [23]:
# #CES3000000006 = Manufacturing Employed
# headers = {'Content-type': 'application/json'}
# data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006' 
#                                 ],
#                                 "startyear":"2002",
#                                 "endyear":"2021", 
#                                 "registrationkey":"92eed6734bf5495f88972d9ba4106350"
#                                 #"calculations":"true"
#                   })
# p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
# json_data = json.loads(p.text)
# for series in json_data['Results']['series']:
#     MWorkers=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
#     seriesId = series['seriesID']
#     for item in series['data']:
#         year = item['year']
#         period = item['period']
#         value = item['value']
#         footnotes=""
#         for footnote in item['footnotes']:
#             if footnote:
#                 footnotes = footnotes + footnote['text'] + ','
#         if 'M01' <= period <= 'M12':
#             MWorkers.add_row([seriesId,year,period,value,footnotes[0:-1]])
#     output = open(seriesId + '.txt','w')
#     output.write (MWorkers.get_string())
#     output.close()

In [24]:
#print(MWorkers)