In [2]:
! pip install -U prettytable

Collecting prettytable
  Downloading prettytable-2.1.0-py3-none-any.whl (22 kB)
Requirement already satisfied, skipping upgrade: wcwidth in c:\users\daily\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Installing collected packages: prettytable
Successfully installed prettytable-2.1.0

In [31]:
import pandas as pd
from prettytable import prettytable
import requests
import json

In [33]:
#api_key = pd.read_csv('data/bls_api.txt')

In [38]:

headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ["CUUR0000SA0", "CES3000000006", "JTU300000000000000JOL", 
                                "JTU300000000000000HIL", "JTU300000000000000TSL"],
                   "startyear":"2001",
                   "endyear":"2021", 
                   "calculations":"true",
                   "registrationkey":"92eed6734bf5495f88972d9ba4106350"
                  })
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x.get_string())
    output.close()

In [39]:
print(x)
# JTU300000000000000TSL = Manufacturing Separations

+-----------------------+------+--------+-------+-----------+
|       series id       | year | period | value | footnotes |
+-----------------------+------+--------+-------+-----------+
| JTU300000000000000TSL | 2020 |  M12   |  344  |           |
| JTU300000000000000TSL | 2020 |  M11   |  328  |           |
| JTU300000000000000TSL | 2020 |  M10   |  373  |           |
| JTU300000000000000TSL | 2020 |  M09   |  393  |           |
| JTU300000000000000TSL | 2020 |  M08   |  430  |           |
| JTU300000000000000TSL | 2020 |  M07   |  395  |           |
| JTU300000000000000TSL | 2020 |  M06   |  426  |           |
| JTU300000000000000TSL | 2020 |  M05   |  319  |           |
| JTU300000000000000TSL | 2020 |  M04   |  859  |           |
| JTU300000000000000TSL | 2020 |  M03   |  880  |           |
| JTU300000000000000TSL | 2020 |  M02   |  301  |           |
| JTU300000000000000TSL | 2020 |  M01   |  343  |           |
| JTU300000000000000TSL | 2019 |  M12   |  293  |           |
| JTU300000000000000TSL | 2019 |  M11   |  271  |           |
| JTU300000000000000TSL | 2019 |  M10   |  349  |           |
| JTU300000000000000TSL | 2019 |  M09   |  368  |           |
| JTU300000000000000TSL | 2019 |  M08   |  407  |           |
| JTU300000000000000TSL | 2019 |  M07   |  356  |           |
| JTU300000000000000TSL | 2019 |  M06   |  335  |           |
| JTU300000000000000TSL | 2019 |  M05   |  347  |           |
| JTU300000000000000TSL | 2019 |  M04   |  360  |           |
| JTU300000000000000TSL | 2019 |  M03   |  347  |           |
| JTU300000000000000TSL | 2019 |  M02   |  288  |           |
| JTU300000000000000TSL | 2019 |  M01   |  327  |           |
| JTU300000000000000TSL | 2018 |  M12   |  283  |           |
| JTU300000000000000TSL | 2018 |  M11   |  306  |           |
| JTU300000000000000TSL | 2018 |  M10   |  375  |           |
| JTU300000000000000TSL | 2018 |  M09   |  333  |           |
| JTU300000000000000TSL | 2018 |  M08   |  427  |           |
| JTU300000000000000TSL | 2018 |  M07   |  387  |           |
| JTU300000000000000TSL | 2018 |  M06   |  349  |           |
| JTU300000000000000TSL | 2018 |  M05   |  347  |           |
| JTU300000000000000TSL | 2018 |  M04   |  344  |           |
| JTU300000000000000TSL | 2018 |  M03   |  332  |           |
| JTU300000000000000TSL | 2018 |  M02   |  296  |           |
| JTU300000000000000TSL | 2018 |  M01   |  345  |           |
| JTU300000000000000TSL | 2017 |  M12   |  285  |           |
| JTU300000000000000TSL | 2017 |  M11   |  284  |           |
| JTU300000000000000TSL | 2017 |  M10   |  336  |           |
| JTU300000000000000TSL | 2017 |  M09   |  338  |           |
| JTU300000000000000TSL | 2017 |  M08   |  390  |           |
| JTU300000000000000TSL | 2017 |  M07   |  353  |           |
| JTU300000000000000TSL | 2017 |  M06   |  336  |           |
| JTU300000000000000TSL | 2017 |  M05   |  333  |           |
| JTU300000000000000TSL | 2017 |  M04   |  315  |           |
| JTU300000000000000TSL | 2017 |  M03   |  307  |           |
| JTU300000000000000TSL | 2017 |  M02   |  240  |           |
| JTU300000000000000TSL | 2017 |  M01   |  296  |           |
| JTU300000000000000TSL | 2016 |  M12   |  250  |           |
| JTU300000000000000TSL | 2016 |  M11   |  247  |           |
| JTU300000000000000TSL | 2016 |  M10   |  297  |           |
| JTU300000000000000TSL | 2016 |  M09   |  302  |           |
| JTU300000000000000TSL | 2016 |  M08   |  354  |           |
| JTU300000000000000TSL | 2016 |  M07   |  278  |           |
| JTU300000000000000TSL | 2016 |  M06   |  273  |           |
| JTU300000000000000TSL | 2016 |  M05   |  293  |           |
| JTU300000000000000TSL | 2016 |  M04   |  273  |           |
| JTU300000000000000TSL | 2016 |  M03   |  269  |           |
| JTU300000000000000TSL | 2016 |  M02   |  266  |           |
| JTU300000000000000TSL | 2016 |  M01   |  263  |           |
| JTU300000000000000TSL | 2015 |  M12   |  229  |           |
| JTU300000000000000TSL | 2015 |  M11   |  239  |           |
| JTU300000000000000TSL | 2015 |  M10   |  289  |           |
| JTU300000000000000TSL | 2015 |  M09   |  288  |           |
| JTU300000000000000TSL | 2015 |  M08   |  343  |           |
| JTU300000000000000TSL | 2015 |  M07   |  273  |           |
| JTU300000000000000TSL | 2015 |  M06   |  275  |           |
| JTU300000000000000TSL | 2015 |  M05   |  241  |           |
| JTU300000000000000TSL | 2015 |  M04   |  262  |           |
| JTU300000000000000TSL | 2015 |  M03   |  243  |           |
| JTU300000000000000TSL | 2015 |  M02   |  217  |           |
| JTU300000000000000TSL | 2015 |  M01   |  261  |           |
| JTU300000000000000TSL | 2014 |  M12   |  234  |           |
| JTU300000000000000TSL | 2014 |  M11   |  202  |           |
| JTU300000000000000TSL | 2014 |  M10   |  278  |           |
| JTU300000000000000TSL | 2014 |  M09   |  279  |           |
| JTU300000000000000TSL | 2014 |  M08   |  287  |           |
| JTU300000000000000TSL | 2014 |  M07   |  267  |           |
| JTU300000000000000TSL | 2014 |  M06   |  248  |           |
| JTU300000000000000TSL | 2014 |  M05   |  235  |           |
| JTU300000000000000TSL | 2014 |  M04   |  240  |           |
| JTU300000000000000TSL | 2014 |  M03   |  226  |           |
| JTU300000000000000TSL | 2014 |  M02   |  184  |           |
| JTU300000000000000TSL | 2014 |  M01   |  254  |           |
| JTU300000000000000TSL | 2013 |  M12   |  208  |           |
| JTU300000000000000TSL | 2013 |  M11   |  206  |           |
| JTU300000000000000TSL | 2013 |  M10   |  219  |           |
| JTU300000000000000TSL | 2013 |  M09   |  247  |           |
| JTU300000000000000TSL | 2013 |  M08   |  300  |           |
| JTU300000000000000TSL | 2013 |  M07   |  276  |           |
| JTU300000000000000TSL | 2013 |  M06   |  237  |           |
| JTU300000000000000TSL | 2013 |  M05   |  266  |           |
| JTU300000000000000TSL | 2013 |  M04   |  244  |           |
| JTU300000000000000TSL | 2013 |  M03   |  199  |           |
| JTU300000000000000TSL | 2013 |  M02   |  200  |           |
| JTU300000000000000TSL | 2013 |  M01   |  238  |           |
| JTU300000000000000TSL | 2012 |  M12   |  200  |           |
| JTU300000000000000TSL | 2012 |  M11   |  230  |           |
| JTU300000000000000TSL | 2012 |  M10   |  258  |           |
| JTU300000000000000TSL | 2012 |  M09   |  235  |           |
| JTU300000000000000TSL | 2012 |  M08   |  300  |           |
| JTU300000000000000TSL | 2012 |  M07   |  240  |           |
| JTU300000000000000TSL | 2012 |  M06   |  260  |           |
| JTU300000000000000TSL | 2012 |  M05   |  232  |           |
| JTU300000000000000TSL | 2012 |  M04   |  244  |           |
| JTU300000000000000TSL | 2012 |  M03   |  217  |           |
| JTU300000000000000TSL | 2012 |  M02   |  211  |           |
| JTU300000000000000TSL | 2012 |  M01   |  252  |           |
| JTU300000000000000TSL | 2011 |  M12   |  209  |           |
| JTU300000000000000TSL | 2011 |  M11   |  214  |           |
| JTU300000000000000TSL | 2011 |  M10   |  256  |           |
| JTU300000000000000TSL | 2011 |  M09   |  239  |           |
| JTU300000000000000TSL | 2011 |  M08   |  298  |           |
| JTU300000000000000TSL | 2011 |  M07   |  252  |           |
| JTU300000000000000TSL | 2011 |  M06   |  238  |           |
| JTU300000000000000TSL | 2011 |  M05   |  252  |           |
| JTU300000000000000TSL | 2011 |  M04   |  235  |           |
| JTU300000000000000TSL | 2011 |  M03   |  224  |           |
| JTU300000000000000TSL | 2011 |  M02   |  212  |           |
| JTU300000000000000TSL | 2011 |  M01   |  265  |           |
| JTU300000000000000TSL | 2010 |  M12   |  233  |           |
| JTU300000000000000TSL | 2010 |  M11   |  244  |           |
| JTU300000000000000TSL | 2010 |  M10   |  292  |           |
| JTU300000000000000TSL | 2010 |  M09   |  248  |           |
| JTU300000000000000TSL | 2010 |  M08   |  329  |           |
| JTU300000000000000TSL | 2010 |  M07   |  269  |           |
| JTU300000000000000TSL | 2010 |  M06   |  236  |           |
| JTU300000000000000TSL | 2010 |  M05   |  212  |           |
| JTU300000000000000TSL | 2010 |  M04   |  237  |           |
| JTU300000000000000TSL | 2010 |  M03   |  234  |           |
| JTU300000000000000TSL | 2010 |  M02   |  237  |           |
| JTU300000000000000TSL | 2010 |  M01   |  280  |           |
| JTU300000000000000TSL | 2009 |  M12   |  237  |           |
| JTU300000000000000TSL | 2009 |  M11   |  252  |           |
| JTU300000000000000TSL | 2009 |  M10   |  317  |           |
| JTU300000000000000TSL | 2009 |  M09   |  305  |           |
| JTU300000000000000TSL | 2009 |  M08   |  329  |           |
| JTU300000000000000TSL | 2009 |  M07   |  322  |           |
| JTU300000000000000TSL | 2009 |  M06   |  332  |           |
| JTU300000000000000TSL | 2009 |  M05   |  342  |           |
| JTU300000000000000TSL | 2009 |  M04   |  380  |           |
| JTU300000000000000TSL | 2009 |  M03   |  387  |           |
| JTU300000000000000TSL | 2009 |  M02   |  393  |           |
| JTU300000000000000TSL | 2009 |  M01   |  586  |           |
| JTU300000000000000TSL | 2008 |  M12   |  399  |           |
| JTU300000000000000TSL | 2008 |  M11   |  345  |           |
| JTU300000000000000TSL | 2008 |  M10   |  438  |           |
| JTU300000000000000TSL | 2008 |  M09   |  384  |           |
| JTU300000000000000TSL | 2008 |  M08   |  396  |           |
| JTU300000000000000TSL | 2008 |  M07   |  349  |           |
| JTU300000000000000TSL | 2008 |  M06   |  367  |           |
| JTU300000000000000TSL | 2008 |  M05   |  338  |           |
| JTU300000000000000TSL | 2008 |  M04   |  396  |           |
| JTU300000000000000TSL | 2008 |  M03   |  334  |           |
| JTU300000000000000TSL | 2008 |  M02   |  315  |           |
| JTU300000000000000TSL | 2008 |  M01   |  415  |           |
| JTU300000000000000TSL | 2007 |  M12   |  326  |           |
| JTU300000000000000TSL | 2007 |  M11   |  361  |           |
| JTU300000000000000TSL | 2007 |  M10   |  447  |           |
| JTU300000000000000TSL | 2007 |  M09   |  404  |           |
| JTU300000000000000TSL | 2007 |  M08   |  484  |           |
| JTU300000000000000TSL | 2007 |  M07   |  417  |           |
| JTU300000000000000TSL | 2007 |  M06   |  382  |           |
| JTU300000000000000TSL | 2007 |  M05   |  382  |           |
| JTU300000000000000TSL | 2007 |  M04   |  387  |           |
| JTU300000000000000TSL | 2007 |  M03   |  380  |           |
| JTU300000000000000TSL | 2007 |  M02   |  361  |           |
| JTU300000000000000TSL | 2007 |  M01   |  477  |           |
| JTU300000000000000TSL | 2006 |  M12   |  363  |           |
| JTU300000000000000TSL | 2006 |  M11   |  355  |           |
| JTU300000000000000TSL | 2006 |  M10   |  413  |           |
| JTU300000000000000TSL | 2006 |  M09   |  382  |           |
| JTU300000000000000TSL | 2006 |  M08   |  467  |           |
| JTU300000000000000TSL | 2006 |  M07   |  451  |           |
| JTU300000000000000TSL | 2006 |  M06   |  372  |           |
| JTU300000000000000TSL | 2006 |  M05   |  389  |           |
| JTU300000000000000TSL | 2006 |  M04   |  346  |           |
| JTU300000000000000TSL | 2006 |  M03   |  382  |           |
| JTU300000000000000TSL | 2006 |  M02   |  349  |           |
| JTU300000000000000TSL | 2006 |  M01   |  412  |           |
| JTU300000000000000TSL | 2005 |  M12   |  334  |           |
| JTU300000000000000TSL | 2005 |  M11   |  343  |           |
| JTU300000000000000TSL | 2005 |  M10   |  426  |           |
| JTU300000000000000TSL | 2005 |  M09   |  417  |           |
| JTU300000000000000TSL | 2005 |  M08   |  473  |           |
| JTU300000000000000TSL | 2005 |  M07   |  428  |           |
| JTU300000000000000TSL | 2005 |  M06   |  373  |           |
| JTU300000000000000TSL | 2005 |  M05   |  348  |           |
| JTU300000000000000TSL | 2005 |  M04   |  401  |           |
| JTU300000000000000TSL | 2005 |  M03   |  356  |           |
| JTU300000000000000TSL | 2005 |  M02   |  314  |           |
| JTU300000000000000TSL | 2005 |  M01   |  452  |           |
| JTU300000000000000TSL | 2004 |  M12   |  354  |           |
| JTU300000000000000TSL | 2004 |  M11   |  360  |           |
| JTU300000000000000TSL | 2004 |  M10   |  402  |           |
| JTU300000000000000TSL | 2004 |  M09   |  402  |           |
| JTU300000000000000TSL | 2004 |  M08   |  457  |           |
| JTU300000000000000TSL | 2004 |  M07   |  419  |           |
| JTU300000000000000TSL | 2004 |  M06   |  370  |           |
| JTU300000000000000TSL | 2004 |  M05   |  343  |           |
| JTU300000000000000TSL | 2004 |  M04   |  387  |           |
| JTU300000000000000TSL | 2004 |  M03   |  359  |           |
| JTU300000000000000TSL | 2004 |  M02   |  336  |           |
| JTU300000000000000TSL | 2004 |  M01   |  441  |           |
| JTU300000000000000TSL | 2003 |  M12   |  353  |           |
| JTU300000000000000TSL | 2003 |  M11   |  332  |           |
| JTU300000000000000TSL | 2003 |  M10   |  422  |           |
| JTU300000000000000TSL | 2003 |  M09   |  387  |           |
| JTU300000000000000TSL | 2003 |  M08   |  441  |           |
| JTU300000000000000TSL | 2003 |  M07   |  474  |           |
| JTU300000000000000TSL | 2003 |  M06   |  391  |           |
| JTU300000000000000TSL | 2003 |  M05   |  361  |           |
| JTU300000000000000TSL | 2003 |  M04   |  448  |           |
| JTU300000000000000TSL | 2003 |  M03   |  367  |           |
| JTU300000000000000TSL | 2003 |  M02   |  389  |           |
| JTU300000000000000TSL | 2003 |  M01   |  528  |           |
| JTU300000000000000TSL | 2002 |  M12   |  401  |           |
| JTU300000000000000TSL | 2002 |  M11   |  380  |           |
| JTU300000000000000TSL | 2002 |  M10   |  483  |           |
| JTU300000000000000TSL | 2002 |  M09   |  452  |           |
| JTU300000000000000TSL | 2002 |  M08   |  527  |           |
| JTU300000000000000TSL | 2002 |  M07   |  500  |           |
| JTU300000000000000TSL | 2002 |  M06   |  439  |           |
| JTU300000000000000TSL | 2002 |  M05   |  433  |           |
| JTU300000000000000TSL | 2002 |  M04   |  491  |           |
| JTU300000000000000TSL | 2002 |  M03   |  397  |           |
| JTU300000000000000TSL | 2002 |  M02   |  415  |           |
| JTU300000000000000TSL | 2002 |  M01   |  574  |           |
| JTU300000000000000TSL | 2001 |  M12   |  443  |           |
| JTU300000000000000TSL | 2001 |  M11   |  440  |           |
| JTU300000000000000TSL | 2001 |  M10   |  597  |           |
| JTU300000000000000TSL | 2001 |  M09   |  453  |           |
| JTU300000000000000TSL | 2001 |  M08   |  575  |           |
| JTU300000000000000TSL | 2001 |  M07   |  551  |           |
| JTU300000000000000TSL | 2001 |  M06   |  545  |           |
| JTU300000000000000TSL | 2001 |  M05   |  504  |           |
| JTU300000000000000TSL | 2001 |  M04   |  602  |           |
| JTU300000000000000TSL | 2001 |  M03   |  502  |           |
| JTU300000000000000TSL | 2001 |  M02   |  449  |           |
| JTU300000000000000TSL | 2001 |  M01   |  666  |           |
+-----------------------+------+--------+-------+-----------+

In [13]:
# JTU300000000000000HIL = Manufacturing Hires 
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006', 'JTU300000000000000JOL', 
                                'JTU300000000000000HIL'],
                                "startyear":"2001",
                                "endyear":"2021" 
                                #"calculations":"true"
                  })
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x_MHires=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x_MHires.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x_MHires.get_string())
    output.close()

In [14]:
print(x_MHires)

+-----------------------+------+--------+-------+-----------+
|       series id       | year | period | value | footnotes |
+-----------------------+------+--------+-------+-----------+
| JTU300000000000000HIL | 2010 |  M12   |  176  |           |
| JTU300000000000000HIL | 2010 |  M11   |  238  |           |
| JTU300000000000000HIL | 2010 |  M10   |  271  |           |
| JTU300000000000000HIL | 2010 |  M09   |  265  |           |
| JTU300000000000000HIL | 2010 |  M08   |  292  |           |
| JTU300000000000000HIL | 2010 |  M07   |  309  |           |
| JTU300000000000000HIL | 2010 |  M06   |  308  |           |
| JTU300000000000000HIL | 2010 |  M05   |  291  |           |
| JTU300000000000000HIL | 2010 |  M04   |  291  |           |
| JTU300000000000000HIL | 2010 |  M03   |  250  |           |
| JTU300000000000000HIL | 2010 |  M02   |  225  |           |
| JTU300000000000000HIL | 2010 |  M01   |  240  |           |
| JTU300000000000000HIL | 2009 |  M12   |  148  |           |
| JTU300000000000000HIL | 2009 |  M11   |  200  |           |
| JTU300000000000000HIL | 2009 |  M10   |  243  |           |
| JTU300000000000000HIL | 2009 |  M09   |  283  |           |
| JTU300000000000000HIL | 2009 |  M08   |  261  |           |
| JTU300000000000000HIL | 2009 |  M07   |  287  |           |
| JTU300000000000000HIL | 2009 |  M06   |  241  |           |
| JTU300000000000000HIL | 2009 |  M05   |  218  |           |
| JTU300000000000000HIL | 2009 |  M04   |  222  |           |
| JTU300000000000000HIL | 2009 |  M03   |  234  |           |
| JTU300000000000000HIL | 2009 |  M02   |  221  |           |
| JTU300000000000000HIL | 2009 |  M01   |  223  |           |
| JTU300000000000000HIL | 2008 |  M12   |  164  |           |
| JTU300000000000000HIL | 2008 |  M11   |  196  |           |
| JTU300000000000000HIL | 2008 |  M10   |  312  |           |
| JTU300000000000000HIL | 2008 |  M09   |  311  |           |
| JTU300000000000000HIL | 2008 |  M08   |  304  |           |
| JTU300000000000000HIL | 2008 |  M07   |  293  |           |
| JTU300000000000000HIL | 2008 |  M06   |  363  |           |
| JTU300000000000000HIL | 2008 |  M05   |  367  |           |
| JTU300000000000000HIL | 2008 |  M04   |  358  |           |
| JTU300000000000000HIL | 2008 |  M03   |  311  |           |
| JTU300000000000000HIL | 2008 |  M02   |  282  |           |
| JTU300000000000000HIL | 2008 |  M01   |  352  |           |
| JTU300000000000000HIL | 2007 |  M12   |  227  |           |
| JTU300000000000000HIL | 2007 |  M11   |  324  |           |
| JTU300000000000000HIL | 2007 |  M10   |  399  |           |
| JTU300000000000000HIL | 2007 |  M09   |  382  |           |
| JTU300000000000000HIL | 2007 |  M08   |  396  |           |
| JTU300000000000000HIL | 2007 |  M07   |  416  |           |
| JTU300000000000000HIL | 2007 |  M06   |  438  |           |
| JTU300000000000000HIL | 2007 |  M05   |  436  |           |
| JTU300000000000000HIL | 2007 |  M04   |  376  |           |
| JTU300000000000000HIL | 2007 |  M03   |  369  |           |
| JTU300000000000000HIL | 2007 |  M02   |  345  |           |
| JTU300000000000000HIL | 2007 |  M01   |  415  |           |
| JTU300000000000000HIL | 2006 |  M12   |  246  |           |
| JTU300000000000000HIL | 2006 |  M11   |  299  |           |
| JTU300000000000000HIL | 2006 |  M10   |  355  |           |
| JTU300000000000000HIL | 2006 |  M09   |  361  |           |
| JTU300000000000000HIL | 2006 |  M08   |  407  |           |
| JTU300000000000000HIL | 2006 |  M07   |  436  |           |
| JTU300000000000000HIL | 2006 |  M06   |  460  |           |
| JTU300000000000000HIL | 2006 |  M05   |  438  |           |
| JTU300000000000000HIL | 2006 |  M04   |  373  |           |
| JTU300000000000000HIL | 2006 |  M03   |  409  |           |
| JTU300000000000000HIL | 2006 |  M02   |  345  |           |
| JTU300000000000000HIL | 2006 |  M01   |  404  |           |
| JTU300000000000000HIL | 2005 |  M12   |  250  |           |
| JTU300000000000000HIL | 2005 |  M11   |  317  |           |
| JTU300000000000000HIL | 2005 |  M10   |  398  |           |
| JTU300000000000000HIL | 2005 |  M09   |  418  |           |
| JTU300000000000000HIL | 2005 |  M08   |  415  |           |
| JTU300000000000000HIL | 2005 |  M07   |  428  |           |
| JTU300000000000000HIL | 2005 |  M06   |  411  |           |
| JTU300000000000000HIL | 2005 |  M05   |  428  |           |
| JTU300000000000000HIL | 2005 |  M04   |  402  |           |
| JTU300000000000000HIL | 2005 |  M03   |  371  |           |
| JTU300000000000000HIL | 2005 |  M02   |  336  |           |
| JTU300000000000000HIL | 2005 |  M01   |  396  |           |
| JTU300000000000000HIL | 2004 |  M12   |  250  |           |
| JTU300000000000000HIL | 2004 |  M11   |  317  |           |
| JTU300000000000000HIL | 2004 |  M10   |  373  |           |
| JTU300000000000000HIL | 2004 |  M09   |  394  |           |
| JTU300000000000000HIL | 2004 |  M08   |  437  |           |
| JTU300000000000000HIL | 2004 |  M07   |  416  |           |
| JTU300000000000000HIL | 2004 |  M06   |  423  |           |
| JTU300000000000000HIL | 2004 |  M05   |  445  |           |
| JTU300000000000000HIL | 2004 |  M04   |  434  |           |
| JTU300000000000000HIL | 2004 |  M03   |  391  |           |
| JTU300000000000000HIL | 2004 |  M02   |  341  |           |
| JTU300000000000000HIL | 2004 |  M01   |  409  |           |
| JTU300000000000000HIL | 2003 |  M12   |  252  |           |
| JTU300000000000000HIL | 2003 |  M11   |  299  |           |
| JTU300000000000000HIL | 2003 |  M10   |  370  |           |
| JTU300000000000000HIL | 2003 |  M09   |  366  |           |
| JTU300000000000000HIL | 2003 |  M08   |  378  |           |
| JTU300000000000000HIL | 2003 |  M07   |  376  |           |
| JTU300000000000000HIL | 2003 |  M06   |  374  |           |
| JTU300000000000000HIL | 2003 |  M05   |  380  |           |
| JTU300000000000000HIL | 2003 |  M04   |  349  |           |
| JTU300000000000000HIL | 2003 |  M03   |  339  |           |
| JTU300000000000000HIL | 2003 |  M02   |  334  |           |
| JTU300000000000000HIL | 2003 |  M01   |  446  |           |
| JTU300000000000000HIL | 2002 |  M12   |  245  |           |
| JTU300000000000000HIL | 2002 |  M11   |  304  |           |
| JTU300000000000000HIL | 2002 |  M10   |  375  |           |
| JTU300000000000000HIL | 2002 |  M09   |  415  |           |
| JTU300000000000000HIL | 2002 |  M08   |  399  |           |
| JTU300000000000000HIL | 2002 |  M07   |  459  |           |
| JTU300000000000000HIL | 2002 |  M06   |  440  |           |
| JTU300000000000000HIL | 2002 |  M05   |  466  |           |
| JTU300000000000000HIL | 2002 |  M04   |  460  |           |
| JTU300000000000000HIL | 2002 |  M03   |  366  |           |
| JTU300000000000000HIL | 2002 |  M02   |  378  |           |
| JTU300000000000000HIL | 2002 |  M01   |  398  |           |
| JTU300000000000000HIL | 2001 |  M12   |  255  |           |
| JTU300000000000000HIL | 2001 |  M11   |  295  |           |
| JTU300000000000000HIL | 2001 |  M10   |  392  |           |
| JTU300000000000000HIL | 2001 |  M09   |  352  |           |
| JTU300000000000000HIL | 2001 |  M08   |  381  |           |
| JTU300000000000000HIL | 2001 |  M07   |  410  |           |
| JTU300000000000000HIL | 2001 |  M06   |  439  |           |
| JTU300000000000000HIL | 2001 |  M05   |  456  |           |
| JTU300000000000000HIL | 2001 |  M04   |  485  |           |
| JTU300000000000000HIL | 2001 |  M03   |  461  |           |
| JTU300000000000000HIL | 2001 |  M02   |  409  |           |
| JTU300000000000000HIL | 2001 |  M01   |  535  |           |
+-----------------------+------+--------+-------+-----------+

In [15]:
#JTU300000000000000JOL = Manufacturing all areas Job Openings
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006', 'JTU300000000000000JOL' 
                                ],
                                "startyear":"2001",
                                "endyear":"2021" 
                                #"calculations":"true"
                  })
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x_MJobs=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x_MJobs.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x_MJobs.get_string())
    output.close()

In [ ]:
print(x_MJobs)

In [ ]:
#JTU300000000000000JOL = Manufacturing all areas Job Openings
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006', 'JTU300000000000000JOL' 
                                ],
                                "startyear":"2010",
                                "endyear":"2020" 
                                #"calculations":"true"
                  })
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x_MJobs2=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x_MJobs2.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x_MJobs2.get_string())
    output.close()

In [ ]:
print(x_MJobs2)

In [ ]:
#JTU300000000000000JOL = Manufacturing all areas Job Openings
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006', 'JTU300000000000000JOL' 
                                ],
                                "startyear":"2021",
                                "endyear":"2021" 
                                #"calculations":"true"
                  })
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x_MJobs3=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x_MJobs3.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x_MJobs3.get_string())
    output.close()

In [16]:
print(x_MJobs3)

+-----------------------+------+--------+-------+-----------+
|       series id       | year | period | value | footnotes |
+-----------------------+------+--------+-------+-----------+
| JTU300000000000000JOL | 2010 |  M12   |  171  |           |
| JTU300000000000000JOL | 2010 |  M11   |  207  |           |
| JTU300000000000000JOL | 2010 |  M10   |  198  |           |
| JTU300000000000000JOL | 2010 |  M09   |  189  |           |
| JTU300000000000000JOL | 2010 |  M08   |  188  |           |
| JTU300000000000000JOL | 2010 |  M07   |  241  |           |
| JTU300000000000000JOL | 2010 |  M06   |  210  |           |
| JTU300000000000000JOL | 2010 |  M05   |  190  |           |
| JTU300000000000000JOL | 2010 |  M04   |  191  |           |
| JTU300000000000000JOL | 2010 |  M03   |  153  |           |
| JTU300000000000000JOL | 2010 |  M02   |  157  |           |
| JTU300000000000000JOL | 2010 |  M01   |  142  |           |
| JTU300000000000000JOL | 2009 |  M12   |  152  |           |
| JTU300000000000000JOL | 2009 |  M11   |  127  |           |
| JTU300000000000000JOL | 2009 |  M10   |  132  |           |
| JTU300000000000000JOL | 2009 |  M09   |  131  |           |
| JTU300000000000000JOL | 2009 |  M08   |  123  |           |
| JTU300000000000000JOL | 2009 |  M07   |  110  |           |
| JTU300000000000000JOL | 2009 |  M06   |  107  |           |
| JTU300000000000000JOL | 2009 |  M05   |   99  |           |
| JTU300000000000000JOL | 2009 |  M04   |  103  |           |
| JTU300000000000000JOL | 2009 |  M03   |  111  |           |
| JTU300000000000000JOL | 2009 |  M02   |  130  |           |
| JTU300000000000000JOL | 2009 |  M01   |  112  |           |
| JTU300000000000000JOL | 2008 |  M12   |  137  |           |
| JTU300000000000000JOL | 2008 |  M11   |  162  |           |
| JTU300000000000000JOL | 2008 |  M10   |  246  |           |
| JTU300000000000000JOL | 2008 |  M09   |  220  |           |
| JTU300000000000000JOL | 2008 |  M08   |  259  |           |
| JTU300000000000000JOL | 2008 |  M07   |  260  |           |
| JTU300000000000000JOL | 2008 |  M06   |  245  |           |
| JTU300000000000000JOL | 2008 |  M05   |  285  |           |
| JTU300000000000000JOL | 2008 |  M04   |  290  |           |
| JTU300000000000000JOL | 2008 |  M03   |  245  |           |
| JTU300000000000000JOL | 2008 |  M02   |  263  |           |
| JTU300000000000000JOL | 2008 |  M01   |  288  |           |
| JTU300000000000000JOL | 2007 |  M12   |  272  |           |
| JTU300000000000000JOL | 2007 |  M11   |  279  |           |
| JTU300000000000000JOL | 2007 |  M10   |  291  |           |
| JTU300000000000000JOL | 2007 |  M09   |  327  |           |
| JTU300000000000000JOL | 2007 |  M08   |  329  |           |
| JTU300000000000000JOL | 2007 |  M07   |  385  |           |
| JTU300000000000000JOL | 2007 |  M06   |  358  |           |
| JTU300000000000000JOL | 2007 |  M05   |  372  |           |
| JTU300000000000000JOL | 2007 |  M04   |  373  |           |
| JTU300000000000000JOL | 2007 |  M03   |  363  |           |
| JTU300000000000000JOL | 2007 |  M02   |  340  |           |
| JTU300000000000000JOL | 2007 |  M01   |  342  |           |
| JTU300000000000000JOL | 2006 |  M12   |  301  |           |
| JTU300000000000000JOL | 2006 |  M11   |  272  |           |
| JTU300000000000000JOL | 2006 |  M10   |  359  |           |
| JTU300000000000000JOL | 2006 |  M09   |  341  |           |
| JTU300000000000000JOL | 2006 |  M08   |  350  |           |
| JTU300000000000000JOL | 2006 |  M07   |  318  |           |
| JTU300000000000000JOL | 2006 |  M06   |  347  |           |
| JTU300000000000000JOL | 2006 |  M05   |  307  |           |
| JTU300000000000000JOL | 2006 |  M04   |  392  |           |
| JTU300000000000000JOL | 2006 |  M03   |  342  |           |
| JTU300000000000000JOL | 2006 |  M02   |  347  |           |
| JTU300000000000000JOL | 2006 |  M01   |  330  |           |
| JTU300000000000000JOL | 2005 |  M12   |  288  |           |
| JTU300000000000000JOL | 2005 |  M11   |  304  |           |
| JTU300000000000000JOL | 2005 |  M10   |  280  |           |
| JTU300000000000000JOL | 2005 |  M09   |  333  |           |
| JTU300000000000000JOL | 2005 |  M08   |  300  |           |
| JTU300000000000000JOL | 2005 |  M07   |  314  |           |
| JTU300000000000000JOL | 2005 |  M06   |  260  |           |
| JTU300000000000000JOL | 2005 |  M05   |  280  |           |
| JTU300000000000000JOL | 2005 |  M04   |  315  |           |
| JTU300000000000000JOL | 2005 |  M03   |  270  |           |
| JTU300000000000000JOL | 2005 |  M02   |  271  |           |
| JTU300000000000000JOL | 2005 |  M01   |  301  |           |
| JTU300000000000000JOL | 2004 |  M12   |  232  |           |
| JTU300000000000000JOL | 2004 |  M11   |  200  |           |
| JTU300000000000000JOL | 2004 |  M10   |  292  |           |
| JTU300000000000000JOL | 2004 |  M09   |  261  |           |
| JTU300000000000000JOL | 2004 |  M08   |  273  |           |
| JTU300000000000000JOL | 2004 |  M07   |  312  |           |
| JTU300000000000000JOL | 2004 |  M06   |  272  |           |
| JTU300000000000000JOL | 2004 |  M05   |  300  |           |
| JTU300000000000000JOL | 2004 |  M04   |  293  |           |
| JTU300000000000000JOL | 2004 |  M03   |  231  |           |
| JTU300000000000000JOL | 2004 |  M02   |  221  |           |
| JTU300000000000000JOL | 2004 |  M01   |  264  |           |
| JTU300000000000000JOL | 2003 |  M12   |  202  |           |
| JTU300000000000000JOL | 2003 |  M11   |  200  |           |
| JTU300000000000000JOL | 2003 |  M10   |  235  |           |
| JTU300000000000000JOL | 2003 |  M09   |  192  |           |
| JTU300000000000000JOL | 2003 |  M08   |  225  |           |
| JTU300000000000000JOL | 2003 |  M07   |  213  |           |
| JTU300000000000000JOL | 2003 |  M06   |  206  |           |
| JTU300000000000000JOL | 2003 |  M05   |  208  |           |
| JTU300000000000000JOL | 2003 |  M04   |  206  |           |
| JTU300000000000000JOL | 2003 |  M03   |  188  |           |
| JTU300000000000000JOL | 2003 |  M02   |  181  |           |
| JTU300000000000000JOL | 2003 |  M01   |  233  |           |
| JTU300000000000000JOL | 2002 |  M12   |  187  |           |
| JTU300000000000000JOL | 2002 |  M11   |  186  |           |
| JTU300000000000000JOL | 2002 |  M10   |  221  |           |
| JTU300000000000000JOL | 2002 |  M09   |  237  |           |
| JTU300000000000000JOL | 2002 |  M08   |  236  |           |
| JTU300000000000000JOL | 2002 |  M07   |  287  |           |
| JTU300000000000000JOL | 2002 |  M06   |  263  |           |
| JTU300000000000000JOL | 2002 |  M05   |  251  |           |
| JTU300000000000000JOL | 2002 |  M04   |  261  |           |
| JTU300000000000000JOL | 2002 |  M03   |  215  |           |
| JTU300000000000000JOL | 2002 |  M02   |  246  |           |
| JTU300000000000000JOL | 2002 |  M01   |  301  |           |
| JTU300000000000000JOL | 2001 |  M12   |  187  |           |
| JTU300000000000000JOL | 2001 |  M11   |  186  |           |
| JTU300000000000000JOL | 2001 |  M10   |  279  |           |
| JTU300000000000000JOL | 2001 |  M09   |  335  |           |
| JTU300000000000000JOL | 2001 |  M08   |  272  |           |
| JTU300000000000000JOL | 2001 |  M07   |  343  |           |
| JTU300000000000000JOL | 2001 |  M06   |  342  |           |
| JTU300000000000000JOL | 2001 |  M05   |  339  |           |
| JTU300000000000000JOL | 2001 |  M04   |  367  |           |
| JTU300000000000000JOL | 2001 |  M03   |  398  |           |
| JTU300000000000000JOL | 2001 |  M02   |  403  |           |
| JTU300000000000000JOL | 2001 |  M01   |  491  |           |
+-----------------------+------+--------+-------+-----------+

In [23]:
#CES3000000006 = Manufacturing Employed
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006' 
                                ],
                                "startyear":"2001",
                                "endyear":"2021" 
                                #"calculations":"true"
                  })
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x_MWorkers=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x_MWorkers.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x_MWorkers.get_string())
    output.close()

In [24]:
print(x_MWorkers)

+---------------+------+--------+-------+-----------+
|   series id   | year | period | value | footnotes |
+---------------+------+--------+-------+-----------+
| CES3000000006 | 2010 |  M12   |  8117 |           |
| CES3000000006 | 2010 |  M11   |  8103 |           |
| CES3000000006 | 2010 |  M10   |  8096 |           |
| CES3000000006 | 2010 |  M09   |  8098 |           |
| CES3000000006 | 2010 |  M08   |  8099 |           |
| CES3000000006 | 2010 |  M07   |  8106 |           |
| CES3000000006 | 2010 |  M06   |  8100 |           |
| CES3000000006 | 2010 |  M05   |  8078 |           |
| CES3000000006 | 2010 |  M04   |  8050 |           |
| CES3000000006 | 2010 |  M03   |  8027 |           |
| CES3000000006 | 2010 |  M02   |  8032 |           |
| CES3000000006 | 2010 |  M01   |  8034 |           |
| CES3000000006 | 2009 |  M12   |  8050 |           |
| CES3000000006 | 2009 |  M11   |  8079 |           |
| CES3000000006 | 2009 |  M10   |  8100 |           |
| CES3000000006 | 2009 |  M09   |  8133 |           |
| CES3000000006 | 2009 |  M08   |  8148 |           |
| CES3000000006 | 2009 |  M07   |  8172 |           |
| CES3000000006 | 2009 |  M06   |  8203 |           |
| CES3000000006 | 2009 |  M05   |  8311 |           |
| CES3000000006 | 2009 |  M04   |  8453 |           |
| CES3000000006 | 2009 |  M03   |  8592 |           |
| CES3000000006 | 2009 |  M02   |  8741 |           |
| CES3000000006 | 2009 |  M01   |  8889 |           |
| CES3000000006 | 2008 |  M12   |  9137 |           |
| CES3000000006 | 2008 |  M11   |  9290 |           |
| CES3000000006 | 2008 |  M10   |  9384 |           |
| CES3000000006 | 2008 |  M09   |  9504 |           |
| CES3000000006 | 2008 |  M08   |  9586 |           |
| CES3000000006 | 2008 |  M07   |  9655 |           |
| CES3000000006 | 2008 |  M06   |  9721 |           |
| CES3000000006 | 2008 |  M05   |  9779 |           |
| CES3000000006 | 2008 |  M04   |  9810 |           |
| CES3000000006 | 2008 |  M03   |  9866 |           |
| CES3000000006 | 2008 |  M02   |  9888 |           |
| CES3000000006 | 2008 |  M01   |  9914 |           |
| CES3000000006 | 2007 |  M12   |  9924 |           |
| CES3000000006 | 2007 |  M11   |  9920 |           |
| CES3000000006 | 2007 |  M10   |  9911 |           |
| CES3000000006 | 2007 |  M09   |  9933 |           |
| CES3000000006 | 2007 |  M08   |  9944 |           |
| CES3000000006 | 2007 |  M07   |  9990 |           |
| CES3000000006 | 2007 |  M06   |  9996 |           |
| CES3000000006 | 2007 |  M05   | 10007 |           |
| CES3000000006 | 2007 |  M04   | 10006 |           |
| CES3000000006 | 2007 |  M03   | 10011 |           |
| CES3000000006 | 2007 |  M02   | 10035 |           |
| CES3000000006 | 2007 |  M01   | 10036 |           |
| CES3000000006 | 2006 |  M12   | 10041 |           |
| CES3000000006 | 2006 |  M11   | 10047 |           |
| CES3000000006 | 2006 |  M10   | 10071 |           |
| CES3000000006 | 2006 |  M09   | 10120 |           |
| CES3000000006 | 2006 |  M08   | 10158 |           |
| CES3000000006 | 2006 |  M07   | 10177 |           |
| CES3000000006 | 2006 |  M06   | 10190 |           |
| CES3000000006 | 2006 |  M05   | 10179 |           |
| CES3000000006 | 2006 |  M04   | 10190 |           |
| CES3000000006 | 2006 |  M03   | 10174 |           |
| CES3000000006 | 2006 |  M02   | 10164 |           |
| CES3000000006 | 2006 |  M01   | 10153 |           |
| CES3000000006 | 2005 |  M12   | 10112 |           |
| CES3000000006 | 2005 |  M11   | 10093 |           |
| CES3000000006 | 2005 |  M10   | 10073 |           |
| CES3000000006 | 2005 |  M09   | 10046 |           |
| CES3000000006 | 2005 |  M08   | 10043 |           |
| CES3000000006 | 2005 |  M07   | 10039 |           |
| CES3000000006 | 2005 |  M06   | 10047 |           |
| CES3000000006 | 2005 |  M05   | 10061 |           |
| CES3000000006 | 2005 |  M04   | 10048 |           |
| CES3000000006 | 2005 |  M03   | 10056 |           |
| CES3000000006 | 2005 |  M02   | 10052 |           |
| CES3000000006 | 2005 |  M01   | 10045 |           |
| CES3000000006 | 2004 |  M12   | 10063 |           |
| CES3000000006 | 2004 |  M11   | 10078 |           |
| CES3000000006 | 2004 |  M10   | 10103 |           |
| CES3000000006 | 2004 |  M09   | 10104 |           |
| CES3000000006 | 2004 |  M08   | 10115 |           |
| CES3000000006 | 2004 |  M07   | 10095 |           |
| CES3000000006 | 2004 |  M06   | 10087 |           |
| CES3000000006 | 2004 |  M05   | 10091 |           |
| CES3000000006 | 2004 |  M04   | 10060 |           |
| CES3000000006 | 2004 |  M03   | 10025 |           |
| CES3000000006 | 2004 |  M02   | 10012 |           |
| CES3000000006 | 2004 |  M01   | 10027 |           |
| CES3000000006 | 2003 |  M12   | 10031 |           |
| CES3000000006 | 2003 |  M11   | 10039 |           |
| CES3000000006 | 2003 |  M10   | 10054 |           |
| CES3000000006 | 2003 |  M09   | 10059 |           |
| CES3000000006 | 2003 |  M08   | 10084 |           |
| CES3000000006 | 2003 |  M07   | 10093 |           |
| CES3000000006 | 2003 |  M06   | 10165 |           |
| CES3000000006 | 2003 |  M05   | 10218 |           |
| CES3000000006 | 2003 |  M04   | 10256 |           |
| CES3000000006 | 2003 |  M03   | 10357 |           |
| CES3000000006 | 2003 |  M02   | 10416 |           |
| CES3000000006 | 2003 |  M01   | 10484 |           |
| CES3000000006 | 2002 |  M12   | 10523 |           |
| CES3000000006 | 2002 |  M11   | 10583 |           |
| CES3000000006 | 2002 |  M10   | 10631 |           |
| CES3000000006 | 2002 |  M09   | 10668 |           |
| CES3000000006 | 2002 |  M08   | 10697 |           |
| CES3000000006 | 2002 |  M07   | 10764 |           |
| CES3000000006 | 2002 |  M06   | 10797 |           |
| CES3000000006 | 2002 |  M05   | 10824 |           |
| CES3000000006 | 2002 |  M04   | 10859 |           |
| CES3000000006 | 2002 |  M03   | 10901 |           |
| CES3000000006 | 2002 |  M02   | 10951 |           |
| CES3000000006 | 2002 |  M01   | 10993 |           |
| CES3000000006 | 2001 |  M12   | 11081 |           |
| CES3000000006 | 2001 |  M11   | 11175 |           |
| CES3000000006 | 2001 |  M10   | 11286 |           |
| CES3000000006 | 2001 |  M09   | 11400 |           |
| CES3000000006 | 2001 |  M08   | 11495 |           |
| CES3000000006 | 2001 |  M07   | 11632 |           |
| CES3000000006 | 2001 |  M06   | 11739 |           |
| CES3000000006 | 2001 |  M05   | 11859 |           |
| CES3000000006 | 2001 |  M04   | 11982 |           |
| CES3000000006 | 2001 |  M03   | 12085 |           |
| CES3000000006 | 2001 |  M02   | 12155 |           |
| CES3000000006 | 2001 |  M01   | 12229 |           |
+---------------+------+--------+-------+-----------+

In [25]:
#CES3000000006 = Manufacturing Employed
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006' 
                                ],
                                "startyear":"2011",
                                "endyear":"2021" 
                                #"calculations":"true"
                  })
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x_MWorkers2=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x_MWorkers2.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x_MWorkers2.get_string())
    output.close()

In [26]:
print(x_MWorkers2)

+---------------+------+--------+-------+-----------+
|   series id   | year | period | value | footnotes |
+---------------+------+--------+-------+-----------+
| CES3000000006 | 2020 |  M12   |  8471 |           |
| CES3000000006 | 2020 |  M11   |  8441 |           |
| CES3000000006 | 2020 |  M10   |  8406 |           |
| CES3000000006 | 2020 |  M09   |  8390 |           |
| CES3000000006 | 2020 |  M08   |  8364 |           |
| CES3000000006 | 2020 |  M07   |  8354 |           |
| CES3000000006 | 2020 |  M06   |  8326 |           |
| CES3000000006 | 2020 |  M05   |  7962 |           |
| CES3000000006 | 2020 |  M04   |  7776 |           |
| CES3000000006 | 2020 |  M03   |  8860 |           |
| CES3000000006 | 2020 |  M02   |  8932 |           |
| CES3000000006 | 2020 |  M01   |  8916 |           |
| CES3000000006 | 2019 |  M12   |  8941 |           |
| CES3000000006 | 2019 |  M11   |  8944 |           |
| CES3000000006 | 2019 |  M10   |  8900 |           |
| CES3000000006 | 2019 |  M09   |  8942 |           |
| CES3000000006 | 2019 |  M08   |  8948 |           |
| CES3000000006 | 2019 |  M07   |  8948 |           |
| CES3000000006 | 2019 |  M06   |  8956 |           |
| CES3000000006 | 2019 |  M05   |  8963 |           |
| CES3000000006 | 2019 |  M04   |  8973 |           |
| CES3000000006 | 2019 |  M03   |  8992 |           |
| CES3000000006 | 2019 |  M02   |  9001 |           |
| CES3000000006 | 2019 |  M01   |  9001 |           |
| CES3000000006 | 2018 |  M12   |  8983 |           |
| CES3000000006 | 2018 |  M11   |  8962 |           |
| CES3000000006 | 2018 |  M10   |  8951 |           |
| CES3000000006 | 2018 |  M09   |  8934 |           |
| CES3000000006 | 2018 |  M08   |  8919 |           |
| CES3000000006 | 2018 |  M07   |  8913 |           |
| CES3000000006 | 2018 |  M06   |  8900 |           |
| CES3000000006 | 2018 |  M05   |  8870 |           |
| CES3000000006 | 2018 |  M04   |  8863 |           |
| CES3000000006 | 2018 |  M03   |  8842 |           |
| CES3000000006 | 2018 |  M02   |  8827 |           |
| CES3000000006 | 2018 |  M01   |  8818 |           |
| CES3000000006 | 2017 |  M12   |  8805 |           |
| CES3000000006 | 2017 |  M11   |  8782 |           |
| CES3000000006 | 2017 |  M10   |  8771 |           |
| CES3000000006 | 2017 |  M09   |  8756 |           |
| CES3000000006 | 2017 |  M08   |  8745 |           |
| CES3000000006 | 2017 |  M07   |  8713 |           |
| CES3000000006 | 2017 |  M06   |  8711 |           |
| CES3000000006 | 2017 |  M05   |  8710 |           |
| CES3000000006 | 2017 |  M04   |  8709 |           |
| CES3000000006 | 2017 |  M03   |  8699 |           |
| CES3000000006 | 2017 |  M02   |  8687 |           |
| CES3000000006 | 2017 |  M01   |  8670 |           |
| CES3000000006 | 2016 |  M12   |  8661 |           |
| CES3000000006 | 2016 |  M11   |  8651 |           |
| CES3000000006 | 2016 |  M10   |  8651 |           |
| CES3000000006 | 2016 |  M09   |  8659 |           |
| CES3000000006 | 2016 |  M08   |  8664 |           |
| CES3000000006 | 2016 |  M07   |  8689 |           |
| CES3000000006 | 2016 |  M06   |  8672 |           |
| CES3000000006 | 2016 |  M05   |  8653 |           |
| CES3000000006 | 2016 |  M04   |  8673 |           |
| CES3000000006 | 2016 |  M03   |  8678 |           |
| CES3000000006 | 2016 |  M02   |  8693 |           |
| CES3000000006 | 2016 |  M01   |  8708 |           |
| CES3000000006 | 2015 |  M12   |  8696 |           |
| CES3000000006 | 2015 |  M11   |  8698 |           |
| CES3000000006 | 2015 |  M10   |  8708 |           |
| CES3000000006 | 2015 |  M09   |  8697 |           |
| CES3000000006 | 2015 |  M08   |  8690 |           |
| CES3000000006 | 2015 |  M07   |  8702 |           |
| CES3000000006 | 2015 |  M06   |  8691 |           |
| CES3000000006 | 2015 |  M05   |  8683 |           |
| CES3000000006 | 2015 |  M04   |  8660 |           |
| CES3000000006 | 2015 |  M03   |  8660 |           |
| CES3000000006 | 2015 |  M02   |  8655 |           |
| CES3000000006 | 2015 |  M01   |  8645 |           |
| CES3000000006 | 2014 |  M12   |  8652 |           |
| CES3000000006 | 2014 |  M11   |  8646 |           |
| CES3000000006 | 2014 |  M10   |  8623 |           |
| CES3000000006 | 2014 |  M09   |  8598 |           |
| CES3000000006 | 2014 |  M08   |  8594 |           |
| CES3000000006 | 2014 |  M07   |  8580 |           |
| CES3000000006 | 2014 |  M06   |  8558 |           |
| CES3000000006 | 2014 |  M05   |  8532 |           |
| CES3000000006 | 2014 |  M04   |  8525 |           |
| CES3000000006 | 2014 |  M03   |  8510 |           |
| CES3000000006 | 2014 |  M02   |  8497 |           |
| CES3000000006 | 2014 |  M01   |  8468 |           |
| CES3000000006 | 2013 |  M12   |  8468 |           |
| CES3000000006 | 2013 |  M11   |  8464 |           |
| CES3000000006 | 2013 |  M10   |  8450 |           |
| CES3000000006 | 2013 |  M09   |  8426 |           |
| CES3000000006 | 2013 |  M08   |  8406 |           |
| CES3000000006 | 2013 |  M07   |  8383 |           |
| CES3000000006 | 2013 |  M06   |  8398 |           |
| CES3000000006 | 2013 |  M05   |  8402 |           |
| CES3000000006 | 2013 |  M04   |  8414 |           |
| CES3000000006 | 2013 |  M03   |  8409 |           |
| CES3000000006 | 2013 |  M02   |  8421 |           |
| CES3000000006 | 2013 |  M01   |  8422 |           |
| CES3000000006 | 2012 |  M12   |  8415 |           |
| CES3000000006 | 2012 |  M11   |  8411 |           |
| CES3000000006 | 2012 |  M10   |  8426 |           |
| CES3000000006 | 2012 |  M09   |  8419 |           |
| CES3000000006 | 2012 |  M08   |  8429 |           |
| CES3000000006 | 2012 |  M07   |  8438 |           |
| CES3000000006 | 2012 |  M06   |  8412 |           |
| CES3000000006 | 2012 |  M05   |  8411 |           |
| CES3000000006 | 2012 |  M04   |  8399 |           |
| CES3000000006 | 2012 |  M03   |  8386 |           |
| CES3000000006 | 2012 |  M02   |  8352 |           |
| CES3000000006 | 2012 |  M01   |  8322 |           |
| CES3000000006 | 2011 |  M12   |  8295 |           |
| CES3000000006 | 2011 |  M11   |  8268 |           |
| CES3000000006 | 2011 |  M10   |  8274 |           |
| CES3000000006 | 2011 |  M09   |  8266 |           |
| CES3000000006 | 2011 |  M08   |  8259 |           |
| CES3000000006 | 2011 |  M07   |  8244 |           |
| CES3000000006 | 2011 |  M06   |  8228 |           |
| CES3000000006 | 2011 |  M05   |  8218 |           |
| CES3000000006 | 2011 |  M04   |  8212 |           |
| CES3000000006 | 2011 |  M03   |  8183 |           |
| CES3000000006 | 2011 |  M02   |  8160 |           |
| CES3000000006 | 2011 |  M01   |  8133 |           |
+---------------+------+--------+-------+-----------+

In [28]:
#CES3000000006 = Manufacturing Employed
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0', 'CES3000000006' 
                                ],
                                "startyear":"2021",
                                "endyear":"2021" 
                                #"calculations":"true"
                  })
p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)
for series in json_data['Results']['series']:
    x_MWorkers3=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
        if 'M01' <= period <= 'M12':
            x_MWorkers3.add_row([seriesId,year,period,value,footnotes[0:-1]])
    output = open(seriesId + '.txt','w')
    output.write (x_MWorkers3.get_string())
    output.close()

In [29]:
print(x_MWorkers3)

+---------------+------+--------+-------+-------------+
|   series id   | year | period | value |  footnotes  |
+---------------+------+--------+-------+-------------+
| CES3000000006 | 2021 |  M04   |  8467 | preliminary |
| CES3000000006 | 2021 |  M03   |  8514 | preliminary |
| CES3000000006 | 2021 |  M02   |  8484 |             |
| CES3000000006 | 2021 |  M01   |  8458 |             |
+---------------+------+--------+-------+-------------+